.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.7;
    border-radius: 34px;
}
.carousel-caption{
    bottom: 80px;
}
.button{
    text-decoration: none;
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
}
.registation-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #289BDE;
    padding: 25px;
}
